---
import ArrowIcon from '../components/ArrowIcon';
import Kafka from '../assets/kafka.svg'
import Mobile from '../assets/mobile.svg'
import Frontend from '../assets/frontend.svg'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Me</title>
	</head>
	<style>
	@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
	</style>
    <ArrowIcon/>	
	<body class="bg-black">
		<h1 class="px-3 py-3 text-white text-6xl font-gotham animate-fade-in-text flex sm:justify-center space-x-4 tracking-wider">
		ABOUT
		</h1>
		<div class="rounded-lg px-3 py-3 text-white text-2xl font-medium font-futura animate-fade-in-text flex-col">
		<div class="flex justify-center">
			<p>
			I am a software engineer from Melbourne, AU. Currently I am working at
			</p> 
			<a href="https://www.pexa.com.au/" class="px-2 hover:text-yellow-200 animate-pulse">
				PEXA
			</a>
			<p>
			on the development of an international e-conveyancing platform.
			</p>
		</div>

		<h3 class="flex justify-center py-7 font-oswald text-3xl">
			AREAS OF INTEREST
		</h3>
		<div class="flex justify-center text-center">
		<ul class="text-white my-[5px] animate-fade-in-text">
		<li>EVENT DRIVEN ARCHITECTURE</li>
		<img src={Kafka} alt="Kafka logo" class="py-10 block m-auto"/>
		<li>MOBILE DEVELOPMENT</li>
		<img src={Mobile} alt="Mobile clipart" class="py-10 block m-auto"/>
		<li>FRONTEND DEVELOPMENT</li>
		<img src={Frontend} alt="webdev clipart" class="py-10 block m-auto pl-7"/>
		</ul>
		</div>
		</div>
	</body>
</html>