---
import ArrowIcon from '../components/ArrowIcon';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Technology</title>
	</head>
    <ArrowIcon/>	
	<body class="bg-black">
		<h1 class="rounded-lg px-3 py-3 text-white text-6xl font-gotham animate-fade-in-text flex sm:justify-center space-x-4 tracking-wider">
		TECHNOLOGY
		</h1>
		<div class="rounded-lg px-3 py-3 text-white text-2xl font-futura animate-fade-in-text flex-col">
		<p class="flex justify-center">Tools and technologies I have used.</p>
		<div class="flex justify-center text-center">
		<ul class="text-white my-[25px] animate-fade-in-text">
		
		</ul>
		</div>
		</div>
	</body>
</html>