<style>
  @font-face {
  font-family: "Futura";
  src: url('../assets/fonts/Futura.ttf');
  }
  @font-face {
  font-family: "Gotham";
  src: url('../assets/fonts/Gotham.ttf');
  }
</style>
<body class="bg-black">
<div class="text-white text-2xl font-futura mx-10 prose-headings:text-white prose-h1:font-gotham prose-h1:text-center prose-headings:text-3xl prose-h3:py-5">
  <slot />
</div>
</body>