<style>
    #summariser-btn {
        anchor-name: --anchor-el;
    }

    #ai-summary {
        position: absolute;
        position-anchor: --anchor-el;
        top: anchor(bottom);
        background-color: white;
        color: black;
    }
</style>

<script>
    const summaryButton = document.getElementById('summariser-btn');
    try {
        // @ts-ignore
        if (Summarizer) return;
    }
    catch (error) {
        console.error('Summarizer is not available:', error);
        summaryButton?.remove();
        return;
    }
    
    const options = {
                sharedContext:"A general summary to help a user decide if the text is worth reading",
                type: "tldr",
                length: "short",
                format: "markdown"
        };
    
    
    const blogContent = document.getElementById('blog-content');
    const summaryContent = document.getElementById('summary-content');
    let summary: string | null = null;
    let isLoading = false;
    summaryButton?.addEventListener('click', async () => {
        //@ts-ignore
        const availability = await Summarizer.availability();
        let summarizer;
        
        if (availability === 'unavailable') {
            console.error('Summarizer API is unavailable');
            // The Summarizer API isn't usable.
            return;
        }
        if (availability === 'available') {
            // The Summarizer API can be used immediately .
            console.log('Summarizer API is available');
            //@ts-ignore
            summarizer = await Summarizer.create(options);
        } else {
            // The Summarizer API can be used after the model is downloaded.
            //@ts-ignore
            summarizer = await Summarizer.create(options);
            summarizer.addEventListener('downloadprogress', (e: any) => {
                console.log(`Downloaded ${e.loaded * 100}%`);
            });
            await summarizer.ready;
        }
        if (!summary && !isLoading) {
            isLoading = true;
            summary = await summarizer.summarize(blogContent?.innerText);
        }
        isLoading = false;
        summaryContent!.innerHTML = `${summary ? summary : 'No TLDR available.'}`;
    });

</script>
<button id="summariser-btn" popovertarget="ai-summary">
    <svg width="15px" height="15px" viewBox="0 0 512 512" id="icons" xmlns="http://www.w3.org/2000/svg">
        <path d="M259.92,262.91,216.4,149.77a9,9,0,0,0-16.8,0L156.08,262.91a9,9,0,0,1-5.17,5.17L37.77,311.6a9,9,0,0,0,0,16.8l113.14,43.52a9,9,0,0,1,5.17,5.17L199.6,490.23a9,9,0,0,0,16.8,0l43.52-113.14a9,9,0,0,1,5.17-5.17L378.23,328.4a9,9,0,0,0,0-16.8L265.09,268.08A9,9,0,0,1,259.92,262.91Z" fill="context-stroke" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
        <polygon points="108 68 88 16 68 68 16 88 68 108 88 160 108 108 160 88 108 68" fill="context-stroke" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
        <polygon points="426.67 117.33 400 48 373.33 117.33 304 144 373.33 170.67 400 240 426.67 170.67 496 144 426.67 117.33" fill="context-stroke" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
    </svg>
</button>
<div id="ai-summary" popover>
    <h4 class="not-prose">AI Summary</h4>
    <p id="summary-content"></p>
</div>